page-home {
  .bg-color {
    background-color: #f1c40f;
  }
  .address {
    img {
      margin:  0 auto;
    }
  }
  .balance-wraper {
    text-align: center;
    color: #FFF;
    .balance {
      font-size: 3em;
    }
    span {
      display: block;
      padding-left: 5%;
      padding-right: 5%;
      font-weight: bold;
      ion-icon {
        font-size: 2em;
      }
    }
  }
}
