<ion-content>
  <ion-toolbar color="transparent" class="bg-color">
    <ion-title>JUSTICECOIN</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="scan()">
        <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <div class="bg-color top-wraper">
    <p class="header-subtitle" text-center>Total Balance</p>
    <h2 class="header-title" text-center>{{ balance }}
      <span class="header-jtc">JTC</span>
    </h2>

  </div>
  <ion-grid class="bg-dark">
    <ion-row>
      <ion-col text-center>
        <button ion-button full color="white" round (click)="openPage('SendPage')">SEND</button>
      </ion-col>
      <ion-col text-center>
        <button ion-button full color="white" round (click)="openPage('ReceivePage')">RECEIVE</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header text-center>
      HISTORY
    </ion-list-header>
    <ion-item *ngIf="transactions && transactions.length == 0">
      <p>No transections done.</p>
    </ion-item>

    <p text-center *ngIf="!transactions"><ion-spinner></ion-spinner></p>

    <ng-container *ngIf="transactions">
      <ng-container *ngFor="let transaction of transactions | orderBy: 'time' : true">
        <ion-item *ngIf="transaction.from == user.user.address">
          <ion-avatar item-left>
            <img src="assets/imgs/send.png">
          </ion-avatar>
          <h2>-{{ transaction.amount }} JTC</h2>
          <p>{{ transaction.to }}</p>
        </ion-item>

        <ion-item *ngIf="transaction.to == user.user.address">
          <ion-avatar item-left>
            <img src="assets/imgs/receive.png">
          </ion-avatar>
          <h2>+{{ transaction.amount }} JTC</h2>
          <p>{{ transaction.from }}</p>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

</ion-content>
