page-home {
  .bg-color {
    background-color: #FFEB3B;
  }
  .bg-dark {
    background: #2c3e50
  }

  .top-wraper {
    padding-top: 40px;
    padding-bottom: 40px;
    .header-subtitle {
      font-size: 1em;
      color: #FFF;
      margin-bottom: 0;
    }
    .header-title {
      font-size: 2em;
      color: #FFF;
      margin-top: 0;
    }
    .header-jtc {
      font-size: 0.4em;
    }
  }
}
