page-signup {
  input {
    color: #FFF !important;
  }
  .bg-color {
    background-color: #FFFDF7;
  }
  .bg-image {
    background: #FFEB3B;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      padding-top: 15vh;
    }
  }

  .bg-transparent {
    background-color: transparent;
  }
}
